.cover-image {
  transform-style: preserve-3d;
  transform: perspective(1000px);
  background-image: url("../img/Cover.jpeg");
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}

.cover-image .inner-element {
  transform: translateZ(50px) scale(0.97);
  border-radius: 15px;
}

.cover-image .inner-element:hover {
  transform: translateZ(60px) scale(0.98);
  border-radius: 15px;
}

